.creates {
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    margin: 2rem 1rem;
  }

  &__control-btn {
    display: flex;
    margin-bottom: 2rem;
  }

  &__control {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 4rem;

    &--add {
      display: flex;
      margin-right: 0.5rem;

      & button {
        font-size: 2rem;
        padding: 1rem;
        border: none;
      }
    }

    &--minus {
      display: flex;

      & button {
        font-size: 2rem;
        padding: 1rem;
        border: none;
      }
    }

    &--push {
      font-size: 2rem;
      padding: 1rem;
      border: none;
      margin-bottom: 5rem;
    }
  }
}

.create {
  margin: 2.5rem 1rem;
  border: 1px solid gray;

  &__row {
    margin: 0.5rem 1rem;

    &--label {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    &--input {
      font-size: 2rem;
      margin-bottom: 1rem;
      padding: 0.5rem;
    }
  }
}