.segment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;

  & h1 {
    margin: 3rem 1rem;
  }

  & button {
    margin-right: 1rem;
    border: none;
    padding: 1rem;
    font-size: 1rem;
  }
}

.segment {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__info {
    display: flex;
    width: 50rem;
    border-bottom: 1px solid gray;
    margin: 0.75rem 1rem;

    &--label {
      margin-right: 0.5rem;
      flex: 1;
      font-size: 1.75rem;
    }

    &--value {
      flex: 1;
      font-size: 1.5rem;
    }
  }
}

.user {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__select {
    padding: 1rem;
  }

  & input {
    width: 70rem;
    height: 5rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
  }

  &__btn {
    margin: 2rem 1rem;

    & button {
      margin-right: 1rem;
      border: none;
      padding: 1rem;
      font-size: 1rem;
    }
  }
}