.update {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 3rem 1rem;
  }

  &__row {
    margin: 1rem 1rem;

    &--label {
      font-size: 1.5rem;
      margin-bottom: 0.75rem;
    }

    &--input {
      font-size: 1rem;
      padding: 1rem;
    }
  }

  &__btn {
    margin: 3.5rem 1rem;

    & button {
      border: none;
      font-size: 1.5rem;
      padding: 1rem;
    }
  }
}